.zoom-icon-container{
    width: 34px;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
border-radius: 10px;
    border: 1px solid #E7E5E4;
}
.plus-minus-icon-container{
    padding: 10px;

}