.sidebar-main-section {
  height: 100vh;
  position: fixed;
}
.menu-icons-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 100%;
  padding-top: 50px;
}
.menu-icon-imgs {
  width: 32px;
  height: 32px;
}

.single-menu-icon-container {
  width: 52px;
  height: 52px;
  margin: 10px;
}
.notification-profile-icon-container {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px 0px;
}
.sidebar-profile-icon-container {
  width: 36px;
  height: auto;
  border-radius: 50%;
}
