body {
  margin: 0;
}

.center-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-structure {
  display: flex;
  flex-direction: row;
}
.sidebar-main-container {
  background-color: aqua;
}
.main-section-content-container {
  padding-left: 102px;
  padding-right: 12px;
  width: 100%;
  
}
